[Desktop Entry]
Version=1.0
Name=Gnoduino
GenericName=Electronics Prototyping Environment
X-GNOME-FullName=Gnoduino Electronics Prototyping Environment
Comment=Prototype electronics using an AVR microcontroller
Exec=gnoduino %F
Icon=gnoduino
Terminal=false
Type=Application
MimeType=application/x-csrc;
Categories=Development;Engineering;Electronics;
